# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/

# Environment variables
.env

# LanceDB (Vector Database) - Vi genererar denna lokalt istället för att ladda upp
knowledge_base/

# IDEs and OS
.vscode/
.idea/
.DS_Store
